step-function/state-machine.json
{
  "Comment": "Image Classification State Machine.",
  "StartAt": "Duplicate Upload Check",
  "States": {
    "Duplicate Upload Check": {
      "Type": "Task",
      "Resource": "",
      "Catch": [ {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error-info",
          "Next": "Log Error"
       }],
      "Next": "Classify Image"
    },
    "Classify Image": {
      "Type" : "Task",
      "Resource": "",
      "Retry": [ {
          "ErrorEquals": ["States.Timeout"],
          "IntervalSeconds": 1,
          "BackoffRate": 2.0,
          "MaxAttempts": 3
        }],
      "Catch": [ {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error-info",
          "Next": "Log Error"
       }],
      "Next": "Copy and Delete Image"
    },

    "Log Error": {
       "Type": "Task",
       "Resource": "",
       "End": true
    },

    "Copy and Delete Image": {
      "Type": "Task",
      "Resource": "",
      "Catch": [ {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error-info",
          "Next": "Log Error"
       }],
      "Next": "Log to DynamoDB"
    },

    "Log to DynamoDB": {
      "Type": "Task",
      "Resource": "",
      "Catch": [ {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error-info",
          "Next": "Log Error"
       }],
      "End": true
    }
  }
}
