step-function/state-machine.json
{
  "Comment": "Image Classification State Machine.",
  "StartAt": "Duplicate Upload Check",
  "States": {
    "Duplicate Upload Check": {
      "Type": "Task",
      "Resource": "",
      "Next": "Is Duplicate?"
    },
    "Is Duplicate?": {
      "Type" : "Choice",
      "Choices": [
        {
          "Variable": "$.is_duplicate",
          "BooleanEquals": true,
          "Next": "Duplicate Image ID"
        },
        {
          "Variable": "$.is_duplicate",
          "BooleanEquals": false,
          "Next": "Classify Image"
        }
      ]
    },

    "Classify Image": {
      "Type" : "Task",
      "Resource": "",
      "Catch": [ {
          "ErrorEquals": ["FileSizeException"],
          "Next": "File Size Too Large for SageMaker"
       }],
      "Retry": [ {
          "ErrorEquals": ["States.Timeout"],
          "IntervalSeconds": 1,
          "BackoffRate": 2.0,
          "MaxAttempts": 3
        }],
      "Next": "Copy and Delete Image"
    },

    "File Size Too Large for SageMaker": {
       "Type": "Fail",
       "Cause": "The file size of the image is greater than or equal to 5 MB.",
       "Error": "SageMakerFileSizeError"
    },

    "Duplicate Image ID": {
      "Type": "Fail",
      "Cause": "An image with the same image ID has already been processed.",
      "Error": "DuplicateImageIDError"
    },

    "Copy and Delete Image": {
      "Type": "Task",
      "Resource": "",
      "Next": "Log to DynamoDB"
    },

    "Log to DynamoDB": {
      "Type": "Task",
      "Resource": "",
      "End": true
    }
  }
}
